/* Universal Selector */
*{margin:0; padding:0;}

/* Class Selector */
.mypara{
	color:#ff0000;
	font-family:'Titillium Web';
}

.radiusimg{
	border-radius:0px 30px 0px 30px;
	border-bottom:3px solid #cccccc;
	border-right:3px solid #cccccc;
	width:250px;
}
/*ID selector */
#container{
	width:1140px;
	min-height:1400px;
	margin:auto auto;
	background-color: #eeeeee;
	border-right:5px double #ff0000;
	border-bottom:5px double #ff0000;
	border-radius: 50px 20px 10px 50px;
}
/*TYPE Selector*/
h1{
	color:#00ff00;
	font-variant:small-caps;
	font-size:large;
	font-family: "Lobster";
	border-bottom:5px double #ff0000;
}
body{
	background-image:url('../images/animated.gif');
    background-repeat: 	repeat-y;	
    background-position: top right;
    background-attachment: fixed;

    }
.box{
	width:250px;
	float:left;
	min-height:200px;
	background-image: url('../images/animated.gif');	
}

/* Descedant Selector */
h1 em {color:green;}
ul .menu {padding: 0; list-style: none;}
ul.menu li{display: inline;}
ul.menu li a {margin: 10px;	text-decoration: none;}

/* Child Selector */
ul > li {list-style: square;}
ul > li ol {list-style: none;}

/* Grouping Selector */
h1, h2, h3 {font-weight: 100;}

/* Type/Element Selector */
	h1 {font-size: 36px;}
	h2 {font-size: 28px;}
	h3 {font-size: 22px;}
